<html>

<head>
    <title>
        Flask Home
    </title>
    <script src="http://code.jquery.com/jquery-1.8.3.js" type="text/javascript"></script>
</head>

<body>
    <div>
        <ul>
            <li>
                <a href="js_encrypt/aes_hook.html">js加密</a>
            </li>
            <li>
                <a href="js_cookie/sub1">cookie</a>
            </li>
            <li>
                <a href="statue_code">http状态码</a>
            </li>
            <li>
                <a href="up_down">上传下载</a>
            </li>
        </ul>
    </div>
    <br>
    <br>
</body>

</html>