<html>

<head>
    <title>
        TCP协议
    </title>
    <script src="http://code.jquery.com/jquery-1.8.3.js" type="text/javascript"></script>
</head>

<body>
    <div>
        <table>
            <tr>
                <img src="/static/img/tcp.png">
            </tr>
            <tr>
                <td>wireshark查看多个http请求TCP层&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type='button' value='TCP连接' onclick='tcp_connect()' />
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        function tcp_connect() {
            $.ajax({
                url: "tcp_connect.do",
                type: "GET",
                success: (response) => {
                    console.log(response);
                    setTimeout(tcp_connect, 5000)
                }
            });
        }
    </script>
</body>

</html>